@import '../styles/_mixins.scss';

  .download {
    @include flex-column;
    padding: 2rem;
    border-radius: 1rem;
    background-image: url('../../public/galaxy-dark.png');
    .info {
      @include flex-column;
      h2 {
        opacity: 1;
        font-size: 36px;
        color: #FF0080;
      }
      p {
        margin: 0;
        font-size: 22px;
        color: white;
      }
    }

    .file{
      @include flex-column;
      padding: 1rem;
      padding-bottom: 5rem;

      .up{
        @include flex-row;
        gap: 2rem;
        justify-content: space-between;
        width: 20rem;

      }
      .down {
        @include flex-row;
        justify-content: space-between;
        p {
          font-size: 18px;
        }
        width: 20rem;
        opacity: 0.75;

      }
      
    }

    .link {
      @include flex-row;
      padding: 2rem;
      gap: 1rem;
      input {
        width: 25rem;

        display: flex;
        user-select: all;
        border-style: solid;
        border-radius: 0.25rem;
        padding: 1rem;
        border-width: 1px;
        background-color: transparent;
        color: white;
        font-size: 18px;
      }
    }

    .qr-button {
      background-color: darkmagenta;
    }

    



  }



