@import '../styles/_mixins.scss';

  .upload {
    @include flex-column;
    padding: 2rem;
    justify-content: space-between;
    border-radius: 1rem;
    background-image: url('../../public/galaxy-dark.png');

    .info {
      @include flex-column;
      h2 {
        opacity: 1;
        font-size: 36px;
        color: #FF0080;
      }
      p {
        font-size: 18px;
        color: white;
      }
    }

    .drop {
      @include flex-column;
      border-style: dashed;
      border-color: $light-gray;
      border-radius: 1rem;
      height: 25rem;
      width: 45rem;

      input {
        display: none;
      }
      p {
        font-size: 16px;
        color: white;
      }
    }


  }



