@import 'mixins';
@import 'variables';

body {
  @include flex-column;
  align-items: stretch;
  margin: 0;
  padding: 0;
  background-color: $dark-purple;
}

button {
  display: flex;
  align-items: center;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 18px;
  font-weight: bold;
  background-color: #D6BCFA;
  padding: 1rem;
  white-space: nowrap;


}
button:hover{
  background-color: #B794F4;
  cursor: pointer;
  transition: 0.4s;
}

p {
  color: white;
}

